@media(min-width: 576px){
    .MainContent{
        flex-direction: row;
    }
    .LeftNavigation{
        width: 20vw;
        min-height: 100vh;
        height: 100%;
        position: sticky;
        left: 0;
        top:0;
        bottom: auto;

        flex-direction: column;
        align-items: stretch;
        justify-content: start;
    }
}